<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Some description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript">if (foo) bar(1 + 5)</script>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="index.html">About Me</a></li><span>  |  </span>
        <li><a href="skill.html">Skill</a></li><span>  |  </span>
        <li><a href="contact.html">Contact</a></li><span>  |  </span>
        <li><a href="portfolio.html">Portfolio</a></li>
      </ul>
    </nav>
    <section>
      <div class="page">
        <h1>About Me</h1>
      </div>
      <div><img src="42810.jpg" alt=""><br>
        <p>นายอาณัติ น้อยตำแย นักทรัพยากรบุคคล สำนักงานปลัดกระทรวงยุติธรรม จบการศึกษา ระดับปริญญาตรี ศิลปศาสตรบัณฑิต (รัฐศาสตร์ เอกการบริหารรัฐกิจ) มหาวิทยาลัยรามคำแหง และระดับปริญญาโท รัฐศาสตรมหาบัณฑิต สาขาการจัดการงานสาธารณะ มหาวิทยาลัยรามคำแหง ประสบการณ์การทำงาน 10 ปี ด้านระบบสารสนเทศทรัพยากรบุคคล การบริหารผลการปฏิบัติงานและค่าตอบแทน นอกจากนี้ ยังมีความสนใจในด้านเทคโนโลยีดิจิทัล การพัฒนาซอฟแวร์และเว็บแอปพลิเคชัน วิทยากากรข้อมูล และระบบหุ่นยนต์สนทนาอัตโนมัติ</p>
      </div>
    </section>
  </body>
</html>