doctype html
html(lang="en")
  head

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= 'My Portfolio'
    link(href='style.css', rel='stylesheet')
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    //- h1 Index
    //- #container.col
    //-   p กรุณาแก้ไขหน้านี้เป็น content จริงๆ ตามการบ้านข้อ 1-3
    nav.navbar
      ul
        li
          a(class='' href='index.html') About Me
        span   |  
        li
          a(class='' href='skill.html') Skill
        span   |  
        li
          a(class='' href='contact.html') Contact
        span   |  
        li
          a(class='' href='portfolio.html') Portfolio
    
    section
      .page
        h1 About Me
      div
        img(src="42810.jpg" alt="")
        br
        |
        p นายอาณัติ น้อยตำแย นักทรัพยากรบุคคล สำนักงานปลัดกระทรวงยุติธรรม จบการศึกษา ระดับปริญญาตรี ศิลปศาสตรบัณฑิต (รัฐศาสตร์ เอกการบริหารรัฐกิจ) มหาวิทยาลัยรามคำแหง และระดับปริญญาโท รัฐศาสตรมหาบัณฑิต สาขาการจัดการงานสาธารณะ มหาวิทยาลัยรามคำแหง ประสบการณ์การทำงาน 10 ปี ด้านระบบสารสนเทศทรัพยากรบุคคล การบริหารผลการปฏิบัติงานและค่าตอบแทน นอกจากนี้ ยังมีความสนใจในด้านเทคโนโลยีดิจิทัล การพัฒนาซอฟแวร์และเว็บแอปพลิเคชัน วิทยากากรข้อมูล และระบบหุ่นยนต์สนทนาอัตโนมัติ