doctype html
html(lang="en")
  head

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title='My Portfolio'
    link(href='style.css', rel='stylesheet')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    //- h1 Portfolio
    //- #container.col
    //-   p กรุณาแก้ไขหน้านี้เป็น content จริงๆ ตามการบ้านข้อ 1-3
    nav.navbar
      ul
        li
          a(class='' href='index.html') About Me
        span   |  
        li
          a(class='' href='skill.html') Skill
        span   |  
        li
          a(class='' href='contact.html') Contact
        span   |  
        li
          a(class='' href='portfolio.html') Portfolio
    
    header
      div.topnav
        div.logo
          img(src="11259-removebg-preview.png", alt="" ,style="width:40px;height:40px")
        div.my-app
          a(href="#home" style="font-weight: bold;") My Application
        div.search-container
          form(action="/action_page.php")
            input(type="text", placeholder="Search Product", name="search")
            button(type="submit")
              i.fa.fa-search
        div.search-button
          a(href="")
          button Search 
        div.new-product
          a(href="#new-product") New Product

    section
      div.grid-container
        div.grid-item-product-image
          img(src="cake15.jpg", alt="", style="width:180px;height:180px")
        div.grid-item-product-detail
          ul
            li Cake 1
            li 40 บาท
            li อร่อยล้ม
        div.grid-item-product-image
          img(src="d4.jpg", alt="", style="width:180px;height:180px")
        div.grid-item-product-detail
          ul
            li Coffee 1
            li 40 บาท
            li แถมฟองนมเต็มแก้ว

        div.grid-item-product-image
          img(src="cake15.jpg", alt="", style="width:180px;height:180px")
        div.grid-item-product-detail
          ul
            li Cake 2
            li 40 บาท
            li อร่อยล้ม

        div.grid-item-product-image
          img(src="d4.jpg", alt="", style="width:180px;height:180px")
        div.grid-item-product-detail
          ul
            li Coffee 2
            li 40 บาท
            li แถมฟองนมเต็มแก้ว

        div.grid-item-product-image
          img(src="cake15.jpg", alt="", style="width:180px;height:180px")
        div.grid-item-product-detail
          ul
            li Cake 3
            li 40 บาท
            li อร่อยล้ม

        div.grid-item-product-image
          img(src="d4.jpg", alt="", style="width:180px;height:180px")
        div.grid-item-product-detail
          ul
            li Coffee 3
            li 40 บาท
            li แถมฟองนมเต็มแก้ว