<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Some description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript">if (foo) bar(1 + 5)</script>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="index.html">About Me</a></li><span>  |  </span>
        <li><a href="skill.html">Skill</a></li><span>  |  </span>
        <li><a href="contact.html">Contact</a></li><span>  |  </span>
        <li><a href="portfolio.html">Portfolio</a></li>
      </ul>
    </nav>
    <section>
      <div class="page">
        <h1>Skill</h1>
      </div>
      <div>
        <ul>
          <li>Java Script</li>
          <li>HTML</li>
          <li>MySQL</li>
          <li>Node.js</li>
          <li>Cloud Deployment</li>
          <li>Algorithm: Data Structures</li>
        </ul>
      </div>
    </section>
  </body>
</html>