doctype html
html(lang="en")
  head

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title='My Portfolio'
    link(href='style.css', rel='stylesheet')
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    //- h1 Skill
    //- #container.col
    //-   p กรุณาแก้ไขหน้านี้เป็น content จริงๆ ตามการบ้านข้อ 1-3
    nav.navbar
      ul
        li
          a(class='' href='index.html') About Me
        span   |  
        li
          a(class='' href='skill.html') Skill
        span   |  
        li
          a(class='' href='contact.html') Contact
        span   |  
        li
          a(class='' href='portfolio.html') Portfolio
    
    section
      .page
        h1 Skill
      div
        ul
          li Java Script
          li HTML
          li MySQL
          li Node.js
          li Cloud Deployment
          li Algorithm: Data Structures